[submodule "submodules/ua-parser"]
	path = submodules/ua-parser
	url = https://github.com/TrivaJS/ua-parser
[submodule "submodules/cache"]
	path = submodules/cache
	url = https://github.com/TrivaJS/cache
[submodule "docs"]
	path = docs
	url = https://github.com/TrivaJS/docs